<%- include('../partials/head.ejs') %>
<%- include('../partials/navigation.ejs') %>
<main>
  <div class="container text-center py-5">
    <h1><%= pageTitle %></h1>
    <hr>
    <h5>Got back to Home Page</h5>
    <a href="/" class="btn btn-primary btn-lg my-3" role="button">Home</a>
  </div>
</main>
<%- include('../partials/end.ejs') %>
